body {
  background-color: #fff;
  color: #fff;
  margin: 0;
  box-sizing: border-box;
}
body header {
  background-color: #000000;
  padding: 0.6rem;
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1240px;
}
body header nav #leftNav {
  display: flex;
  align-items: center;
}
body header nav #leftNav #logo {
  padding: 1rem;
  width: 126px;
}
body header nav #leftNav #dividingLine {
  font-size: 2rem;
}
body header nav #leftNav a#helpLink {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  font-size: 24px;
}
body header nav #leftNav a#helpLink:hover {
  text-decoration: underline;
}
body header nav #rightNav #submit {
  border: solid 1px #fff;
  border-radius: 8px;
  padding: 6px 22px;
  font-size: 24px;
  color: #fff;
  background-color: #191a1b;
  margin-right: 1rem;
}
body header nav #rightNav #submit:hover {
  cursor: pointer;
}
body header nav #rightNav #signIn {
  border: none;
  border-radius: 8px;
  padding: 6px 22px;
  font-size: 24px;
  background-color: #4C5FD5;
  color: white;
}
body header nav #rightNav #signIn:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
body main .helpSection {
  background-color: #dadbf1;
  margin: auto;
  text-align: center;
  padding: 80px 30px 115px;
}
body main .helpSection h1 {
  color: #000000;
  margin: 0;
  font-size: 80px;
  margin-bottom: 1rem;
}
body main .helpSection #searchInput {
  border-radius: 4px;
  border-color: rgb(139, 130, 116);
  outline-color: initial;
  box-shadow: rgba(6, 6, 6, 0.1) 0px 9px;
  width: 720px;
  margin-top: 20px;
  padding: 1rem;
  border: 0.5px solid #000000;
  border-radius: 4px;
  outline: none;
}
body main .contentSection {
  display: flex;
  justify-content: center;
  margin: auto;
  color: black;
}
body main .contentSection .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
body main .contentSection .content div#contentContainer {
  margin-top: 10px;
  height: 250px;
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 80px;
}
body main .contentSection .content div#contentContainer #imgContainer {
  display: flex;
  justify-content: space-around;
}
body main .contentSection .content div#contentContainer #imgContainer img {
  max-width: 100px;
}
body main .contentSection .content div#contentContainer #contentText {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  line-height: 1.3em;
  justify-content: space-evenly;
  text-align: left;
  font-size: 24px;
  word-spacing: 1px;
  padding: 15px 8px;
}
body main .contentSection .content div#contentContainer #contentText a {
  font-size: 20px;
  text-decoration: none;
}
body footer {
  display: flex;
  background-color: #000000;
  margin: auto;
  padding: 1rem;
}
body footer .footerContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: auto;
  max-width: 1440px;
  flex-direction: row;
}
body footer .footerContainer #footerLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
body footer .footerContainer #footerLinks .column {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
body footer .footerContainer #footerLinks .column h1 {
  margin-bottom: 1rem;
}
body footer .footerContainer #footerLinks .column a {
  text-decoration: none;
  color: white;
}
body footer .footerContainer #footerLinks .column a:hover {
  text-decoration: underline;
}
body footer .footerContainer #footerLinks .column p {
  font-weight: bold;
}
body footer .footerContainer #footerInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  height: 100%;
  padding-left: 150px;
  padding-bottom: 50px;
  padding-right: 10px;
}
body footer .footerContainer #footerInfo img {
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
}
body footer .footerContainer #footerInfo p {
  font-size: 20px;
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=styles.css.map */