$primary-color: #4C5FD5;
$secondary-color: #dadbf1;
$button-color: #191a1b;
$white: #fff;
$black: #000000;
$font: "Archivo", sans-serif;

body {
  background-color: $white;
  color: #fff;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;

  header {
    background-color: $black;
    padding: .6rem;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 1240px;
        #leftNav {
            display: flex;
            align-items: center;
            svg {
                padding: 1rem;
                width: 126px;
                fill: white;
            }
            svg:hover {
                cursor: pointer;
                fill: darken(white, 20%);
                transition: ease-in-out 0.3s;
            }
           #dividingLine {
            font-size: 2rem;
           }
            a#helpLink {
                text-decoration: none;
                color: $white;
                padding: 1rem;
                font-size: 24px;
            }
            a#helpLink:hover {
                text-decoration: underline;
            }
        }
        #rightNav {
            #submit {
                border: solid 1px $white;
                border-radius: 8px;
                padding: 6px 22px;
                font-size: 24px;
                color: $white;
                background-color: $button-color;
                margin-right: 1rem;
            }
            #submit:hover {
                cursor: pointer;
            }
            #signIn {
                border: none;
                border-radius: 8px;
                padding: 6px 22px;
                font-size: 24px;
                background-color: $primary-color;
                color: white;
            }
            #signIn:hover {
                background-color: $white;
                color: black;
                cursor: pointer;
                transition: ease-in-out 0.3s;
            }
        }
    }
  }

  #helpBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    background-color: $primary-color;
    border: none;
    color: $white;
    padding: 13px 22px;
    letter-spacing: 0.6;
    font-size: 1.07143rem;
    border-radius: 999rem;
    justify-content: center;
    align-items: center;
    span {
        padding-right: 8px;
        padding-top: 4px;
        img {
            width: 23px;
            max-width: 30px;
        }
    }
  }

  #helpBtn:hover {
    cursor: pointer;
  }

  main {
    .helpSection {
        background-color: $secondary-color;
        margin: auto;
        text-align: center;
        padding: 80px 30px 115px;
        h1 {
            color: $black;
            margin: 0;
            font-size: 80px;
            margin-bottom: 1rem;
        }
        #searchInput {
            border-radius: 4px;
            border-color: rgb(139, 130, 116);
            outline-color: initial;
            box-shadow: rgba(6, 6, 6, 0.1) 0px 9px; 
            max-width: 720px;
            margin-top: 20px;
            padding: 1rem;
            border: 0.5px solid #000000;
            border-radius: 4px;
            outline: none;
            font-size: 24px;
            width: 100%;
            margin: auto;
        }
        #searchInput:hover {
            border: #4C5FD5 1px solid;
        }
        #searchInput[type=text]:focus {
            border: #4C5FD5 1px solid;
          }
    }

    .contentSection {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        color: black;
        .content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 0;
            margin: auto;
            div#contentContainer {
                margin-top: 10px;
                height: 250px;
                width: 45%;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 40px;
                justify-content: space-around;
                #imgContainer {
                    display: flex;
                    justify-content: space-around;
                    img {
                        max-width: 100px;
                    }
                }
                #contentText {
                    height: 100%;
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    line-height: 1.3em;
                    justify-content: space-evenly;
                    text-align: left;
                    font-size: 24px;
                    word-spacing: 1px;
                    h1 {
                        font-size: 24px;
                        padding: 0;
                    }
                    p {
                        margin: 0;
                        font-size: 24px;
                    }
                    a {
                        font-size: 20px;
                        text-decoration: none;
                        color: #4C5FD5;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    background-color: $black;
    margin: auto;
    padding: 1rem;
    .footerContainer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin: auto;
        max-width: 1440px;
        flex-direction: row;
        #footerLinks {
            display: flex;
            flex-wrap: wrap;
            .column {
                display: flex;
                flex-direction: column;
                margin: 1rem;
                h1 {
                    margin-bottom: 1rem;
                }
                a {
                    text-decoration: none;
                    color: white;
                    margin: .3rem;
                }
                a:hover {
                    text-decoration: underline;
                }
                p {
                    font-weight: bold;
                }
            }
        }
        #footerInfo {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-top: auto;
            height: 100%;
            padding-left: 150px;
            padding-bottom: 50px;
            padding-right: 10px;
            img {
                width: 100%;
                max-width: 150px;
                margin-bottom: 20px;
            }
            p {
                font-size: 20px;
                padding: 0;
                margin: .3rem;
            }
        }
    }
  }
}
